.lines-container__line_left-bottom {
  position: relative;
  top: 250px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media screen and (max-width: 1250px) {
  .lines-container__line_left-bottom {
    top: 150px;
  }
}
