.composition {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    min-height: 1000px;
    background: linear-gradient(to bottom right, rgb(245, 201, 56), rgb(172, 224, 123), rgb(241, 66, 229));
}