.composition-picture-container {
  min-height: 650px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .composition-picture-container {
    min-height: 400px;
    justify-content: space-around;
  }
}
