@import url("__advantages-items/lastpromo__advantages-items.css");
@import url("__advantages/lastpromo__advantages.css");
@import url("__description/lastpromo__description.css");
@import url("__photo/lastpromo__photo.css");

.lastpromo {
    width: 100%;
    display: grid;
    grid-template-columns: calc(50%-5px) calc(50%-5px);
    grid-template-rows: auto;
    row-gap: 50px;
    column-gap: 20px;
    margin-bottom: 20px;
    background: linear-gradient(45deg,rgb(245, 201, 56), rgb(172, 224, 123), rgb(241, 66, 229));
    background-size: 200%;
    animation: gba 20s infinite;
}

@keyframes gba { 
    0% {
      background-position: 0;
    }
    50% {
      background-position: 100%;
    }
    100% {
      background-position: 0;
    }
  }