.feedback__photo {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 750px) {
  .feedback__photo {
    width: 200px;
    height: 200px;
  }
}
