.lastpromo__advantages-items {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

@media screen and (max-width: 1250px) {
  .lastpromo__advantages-items {
    font-size: 16px;
    line-height: 17px;
  }
}

@media screen and (max-width: 900px) {
  .lastpromo__advantages-items {
    font-size: 16px;
    line-height: 17px;
  }
}

@media screen and (max-width: 750px) {
  .lastpromo__advantages-items {
    font-size: 14px;
    line-height: 15px;
  }
}

@media screen and (max-width: 550px) {
  .lastpromo__advantages-items {
    font-size: 12px;
    line-height: 12px;
  }
}
