@import url("__item/advantages__item.css");
@import url("__list/advantages__list.css");

.advantages {
    width: calc(50% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width: 700px) {
    .advantages {
      width: calc(50% - 10px);
      margin-right: 10px;
    }
  }
  