.lastpromo__description {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align:justify;
    align-content: center;
    padding: 20px;

}